.calculator {
    margin: 1em 1.5rem;
}

.calculator-key-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 1px;
}

.custom-key-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
}