input[type="color"] {
    -webkit-appearance: none;
    width: 40px;
    height: 40px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}
input[type="checkbox"].form-check-input:focus {
    --bs-form-switch-bg: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(255,255,255)'/></svg>");

}