/* You can add global styles to this file, and also import other style files */
$theme-colors: (
    "primary": #8732a8,
    "secondary": #808080,
    "danger": #a83232,
    "warning": #c9700b,
    "success": #36a832,
    "light": #677dc5,
    "custom-color": #324ea8
);

@import '../node_modules/bootstrap/scss/bootstrap.scss';
:root {
    color-scheme: light dark;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}
.bi-null,
.bi-undefined {
    padding-left: 16px;
}